.blog {
  text-align: center;
  margin-bottom: 50px;
}
.content {
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(115, 115, 115);
}
.content table td {
  padding-left: 1.5rem;
}
.continue {
  color: aqua;
}
.searchAuthor {
  font-size: 0.8rem;
  padding-bottom: 2rem;
}

/* スマートフォン向け */
@media screen and (max-width: 959px) {
  .content table th {
    width: 100px;
  }
  .content img {
    width: 100px;
  }
  .continue_mobile {
    font-size: 1rem;
  }
  .continue_pc {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .continue_pc {
    color: aqua;
  }
  .continue_mobile {
    display: none;
  }
}
