/* メディアクエリ */
/* スマートフォン向け */
@media screen and (max-width: 959px) {
  .next_pc {
    display: none;
  }
  .next_mobile {
    text-align: center;
    margin-bottom: 30px;
  }
  .next_mobile p {
    padding-top: 0px;
    padding-bottom: 1rem;
  }
  .next_mobile img {
    width: 70%;
  }
  #title {
    font-size: 1rem;
  }
  #date {
    font-size: 0.8rem;
  }
  #place {
    font-size: 0.8rem;
  }
  #info {
    font-size: 1rem;
    color: cornflowerblue;
  }
}

@media screen and (min-width: 960px) {
  .next_mobile {
    display: none;
  }
  .next_pc {
    text-align: center;
    margin-bottom: 30px;
  }
  .next_pc table {
    margin-left: auto;
    margin-right: auto;
  }
  .next_pc table th {
    width: 40%;
  }
  .next_pc table td {
    vertical-align: top;
    text-align: left;
    padding-left: 10rem;
  }
  .next_pc table td p {
    padding-top: 0px;
    padding-bottom: 1rem;
  }
  .next_pc table th img {
    width: 100%;
  }
  #title {
    font-size: 2rem;
  }
  #date {
    font-size: 1.5rem;
  }
  #place {
    font-size: 1.5rem;
  }
  #info {
    font-size: 1.1rem;
    color: cornflowerblue;
  }
}
